<ion-header>
  <ion-toolbar>
    <ion-title>gestion-menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Ajouter un plat au menu</ion-card-title>
    <ion-card-content>
    <form [formGroup]="addMenuForm" (ngSubmit)="onSubmit()"> 
      <ion-input type="texte" placeholder="Nom du plat" formControlName="nomPlat"></ion-input>
      <ion-input type="texte" placeholder="Description" formControlName="descriptionPlat"></ion-input> 
      <ion-button type="submit">Ajouter le plat au menu.</ion-button>
    </form>
  </ion-card-content>
  </ion-card>
<ion-list>
  <ion-list-header>Menu du jour</ion-list-header>
  <ion-item *ngFor="let plat of plats,let i=index">
    <ion-icon name="trash-outline" slot="end" (click)="deletePlat(i)"></ion-icon>
   <ion-label><p>{{plat.plat}} </p>
   <p>{{plat.description}}</p>
  </ion-label>
  </ion-item>
</ion-list>
</ion-content>
