div{
    text-align: center;
    margin-top: 50%;
    margin-left:10%;
    margin-right:10%;

  }

  ion-input{
    border-bottom: solid slategray;
     --color:black;
     font-size: x-large;
     --placeholder-color:black;
     
  }

  ion-content{
      --background:azure;
  }