ion-input{
  border-bottom: solid black;
   --color:black;
   font-size: x-large;
   --placeholder-color:gray;
   
}


div{
  text-align: center;
  margin-top: 50%;
  margin-left: 10%;
  margin-right: 10%;
}


p{
  font-size: smaller;
  color:black;

}
a{
  color:black;
}